.jomolhari-regular {
  font-family: "Jomolhari", serif;
  
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #020201;
  color: #333;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px; 
  z-index: 999;
  display: flex;
  justify-content: space-between;
  background-color: rgba(140, 101, 65, 1);
  padding: 1rem 2rem;
  padding-right:20px ;
  color: #fff;
  font-family: "Jomolhari", serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding-right: 40px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  overflow: visible;
  padding-right: 10px;
}
.nav-links li a:hover{
  color: #020201;
}
.burger-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 50px;
    background-color: rgba(140, 101, 65, 1);
    padding: 1rem;
    border-radius: 5px;
  }
}



.hero-divider {
  margin-top: 70px;
  width: 100%;
  height: 4px;
  background-color: rgba(140, 101, 65, 1); 
}

.hero {
  background-image: url('hero-banner.jpg');
  background-position: center;
  color: white;
  text-align: center;
  padding-top: 40px;
  position: relative;
}
.hero-heading {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: white;
}

.hero-heading::before,
.hero-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 35%;
  height: 2px;

}

.hero-heading::before {
  left: 0;
}

.hero-heading::after {
  right: 0;
}
.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 55;
  margin-bottom: 1rem;
  font-family: "Jomolhari", serif;
  font-weight: lighter;
}

.hero h2 {
  font-size: 48;
  margin-bottom: 2rem;
  font-family: "Jomolhari", serif;
  font-weight: lighter;
}
.hero p{
font-size: 25px;
}
.hero-button {
  background-color: rgba(114, 198, 209, 1);
  color: black;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color:white;
}

.main-content {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  
}
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}

.beverage, .events {
  flex: 1;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);

}
.beverage{
  background-color: rgba(229, 208, 188, 1);
}
.events{
  background-color: rgba(140, 101, 65, 1);
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}
.beverage h2{
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}
.beverage h3{
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.beverage p{
  font-size: 20px;
}

.events h2{
  text-align: left;
  font-size: 40px;
  margin-top: 0px;

}
.events h3{
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: 500;
}
.events p{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.events-button{
  display: inline-block;
  background-color: rgba(114, 198, 209, 1);
  color: black;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 50px;
}
.events-button:hover {
  background-color:white;
}
.beverage img {
  max-width: 100%;
  height: auto;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  background-color: rgba(140, 101, 65, 1);
  color: white;
  text-align: center;
  padding: 1rem;
}
.schedule{
  text-align: left;
  flex: 1;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  background-color:rgba(229, 208, 188, 1);
  padding-left: 20px;
  max-width: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}
.schedule h2{
  
padding-top: 30px;
margin-top: 0px;
}
.schedule h3{
  margin-bottom: 0px;
  font-weight: 550;
}
.schedule li {
  list-style: none;
  
}

.schedule p{
  padding-left: 40px;
  padding-top: 20px;
  font-style: oblique;
}
.menu-grid-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .menu-grid-top {
    grid-template-columns: repeat(3, 1fr);
  }
}

.menu-teas {
  display: block;
}

.menu-box {
  background-color: rgba(229, 208, 188, 1);
  padding: 1rem;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  
}


.menu-box h2, .tea-category h3 {
  
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.menu-box ul {
  list-style: none;
  padding: 0;
}

.menu-box li {
  margin-bottom: 0.5rem;
}
.full-width{
  margin-bottom: 30px;
}
.tea-category {
  margin-bottom: 20px;
}

.tea-flavors {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tea-flavors span {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  color: #060505;
  flex: 1 1 calc(50% - 1rem); 
  text-align: left;
}

@media (max-width: 480px) {
  .tea-flavors span {
    flex: 1 1 100%; 
  }
}
.photo-text-block {
  text-align: center;
  margin-bottom: 2rem;
}

.photo-text-block img {
  max-width: 100%;
  margin-left: 30px;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  display: inline-block;
  
}

.photo-text-block p {
  margin-top: 1rem;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: rgba(229, 208, 188, 1) ;
  font-size: 1.2rem;
  color: #080707;
}
.map-container, .contact-us{
  flex: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);

}
.map-container{
  margin-left: 30px;
  background-color: #020201;
}
.contact-us{
background-color: rgba(140, 101, 65, 1) ;
padding:  30px;
margin-right: 30px;
margin-left: 30px;
width: auto;
color: #fff;
}
.nav-item.active{
  color: #020201;
}
